// System files
.DS_Store

// VSCode files
.vscode/

// Excludes all viper config files
*.toml

// Excludes all data stores
*.json

// Excluedes all environment files
*.txt

// Schema roll-back
rollback_schema.sh

// TLS Certificates
src/server/certs/
*.key
*.crt
*.pem
